<footer class="footer">
    <div class="contact-wrapper">
      <div class="container">
        <div class="content-box wow fadeIn"> <img src="../static/images/footer-icon01.png" alt="Image">
          <h3>address infos</h3>
          <p>UK Address:
            Cater and Merger Consult Ltd.
            
            1st. Floor, Lynch Wood Business Park.
            Peterborough. PE2 6FY, United Kingdom
           </p>
           <p>
            NGN Address:
            Suite 5, 47 Lakechad Crescent, Maitama, Abuja, Nigeria
           </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn"> <img src="../static/images/footer-icon02.png" alt="Image">
          <h3>working hours</h3>
          <p>Monday to Friday 09:00 to 17:00 </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn"> <img src="../static/images/footer-icon03.png" alt="Image">
          <h3>support center</h3>
          <p>Caterandmerger is your trusted call service that you can <a href="tel:+234 8033079606">call</a> or <a href="mailto: info@caterandmergerconsult.com">e-mail</a> us anytime</p>
        </div>
        <!-- end content-box --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end contact-wrapper -->
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 wow fadeIn"> <img src="../static/images/newlogo.png" alt="Image" class="logo">
          </div>
          <!-- end col-4 -->
          <div class="col-lg-2 col-md-6 wow fadeIn">
            <ul class="footer-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/about">Corpration</a></li>
              <li><a href="/showcase">Showcases</a></li>
              <li><a href="/news/single">News</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-lg-2 col-md-6 wow fadeIn">
            <ul class="footer-menu">
              <li><a href="/business/development">Business</a></li>
              <li><a href="/consultation">Consultation</a></li>
              <li><a href="/career">Career Training</a></li>
            
            </ul>
          </div>
          <!-- end col-2 -->
          <div class="col-lg-4 wow fadeIn">
            <div class="contact-box">
              <h5>CALL US</h5>
              <h3>+447488389428, 01733590363</h3>
              <p>E-mail <a href="#">info@caterandmergerconsult.com</a></p>
              <ul>
                <li><a href="https://web.facebook.com/CaterAndMergerConsult/?_rdc=1&_rdr" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/caterandmerger?lang=en" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/cater-and-merger-consult-670363200/?originalSubdomain=ng" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/caterandmergerconsultltd/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a></li>
               </ul>
            </div>
            <!-- end contact-box --> 
          </div>
          <!-- end col-4 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end content-wrapper -->
    <div class="sub-footer wow fadeIn">
      <div class="container"> <span class="copyright">© 2024 CaterandMergerconsult - Business & Investment Solutions</span> <span class="creation">Site created by <a href="https://www.techspare.online/">techspare</a></span> </div>
      <!-- end container --> 
    </div>
    <!-- end sub-footer --> 
  </footer>
  <!-- end footer --> 
  <a href="#" class="scrollup"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a> 
  
  <!-- JS FILES --> 
  <script src="../static/js/jquery.min.js"></script> 
  <script src="../static/js/popper.min.js"></script> 
  <script src="../static/js/bootstrap.min.js"></script> 
  <script src="../static/js/fancybox.min.js"></script> 
  <script src="../static/js/odometer.min.js"></script> 
  <script src="../static/js/timeline.js"></script> 
  <script src="../static/js/swiper.min.js"></script> 
  <script src="../static/js/isotope.min.js"></script> 
  <script src="../static/js/wow.min.js"></script> 
  <script src="../static/js/imagesloaded.pkgd.min.js"></script> 
  <script src="../static/js/scripts.js"></script>