
<div class="search-box">
    <div class="close-btn"> <span></span> <span></span> </div>
    <!-- end close-btn -->
    <form>
      <input type="search" placeholder="Type here to search...">
      <h6>Type above and press enter or press close to cancel.</h6>
    </form>
  </div>
  <!-- end search-box -->
  <aside class="sandwich-menu">
    <div class="logo"> <img src="../static/images/newlogo.png" alt="Image"> </div>
    <!-- end logo -->
     <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="#">Corpration</a>
            <ul class="dropdown">
              <li><a href="/about">About Us</a></li>
              <li><a href="/mission">Mission - Vision</a></li>
              <li><a href="/team">Team Members</a></li>
              <li><a href="/office">Our Offices</a></li>
              <li><a href="/releases">Press Releases</a></li>
              <li><a href="/clients">Clients</a></li>
              <li><a href="#">Career</a></li>
            </ul>
          </li>
          <li><a href="#">Solutions</a>
            <ul class="dropdown">
              <li><a href="#">Business</a>
                <ul class="dropdown">
                  <li><a href="/business/development">Business Development</a></li>
                  <li><a href="/partner/investment">Partners Investment</a>
                  
                  </li>
                 
                </ul>
              </li>
              <li><a href="/consultation">Consultation</a></li>
              <li><a href="/career">Career</a></li>
              <li><a href="/training">Training</a></li>
              
            </ul>
          </li>
          <li><a href="#">Services</a>
            <ul class="dropdown">
              <li><a href="#">Business</a>
                <ul class="dropdown">
                  <li><a href="/business/development">Business Development</a></li>
                  <li><a href="/partner/investment">Partners Investment</a>
                  
                  </li>
                 
                </ul>
              </li>
              <li><a href="/consultation">Consultation</a></li>
              <li><a href="/#">Career</a></li>
              <li><a href="/training">Training</a></li>
             
            </ul>
          </li>
          <li><a href="/showcase">Showcases</a></li>
          <li><a href="#">Blogs</a>
          <ul class="dropdown">
            <li><a href="/news/single">Latest Blog</a></li>

             
              <li><a href="/news/right">Publications</a></li>
              <li><a href="#">Videos</a></li>
              <li><a href="#">Gallery</a></li>
             
            </ul>
            </li>
             <li><a href="/news/left">Events</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <!-- end nav-menu -->
    <p>Cater and Merger consult  is a management and human development consulting company </p>
    <!-- <ul class="photo-gallery">
      <li><a href="../static/images/image04.jpg" data-fancybox><img src="../static/images/image04.jpg" alt="Image"></a></li>
      <li><a href="../static/images/image05.jpg" data-fancybox><img src="../static/images/image05.jpg" alt="Image"></a></li>
      <li><a href="../static/images/image06.jpg" data-fancybox><img src="../static/images/image06.jpg" alt="Image"></a></li>
      <li><a href="../static/images/image07.jpg" data-fancybox><img src="../static/images/image07.jpg" alt="Image"></a></li>
    </ul> -->
    <address>
    <p>UK Address: Cater and Merger Consult Ltd. 1st. Floor, Lynch Wood Business Park. Peterborough. PE2 6FY, United Kingdom

      NGN Address: Suite 5, 47 Lakechad Crescent, Maitama, Abuja, Nigeria</p>
    <p>+447488389428, 01733590363<br>
      E-mail <a href="#">info@caterandmergerconsult.com</a></p>
    </address>
    <!-- <ul class="social-media">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
    </ul> -->
    <!-- end social-media --> 
    <span class="copyright">© 2024 cater and merger consult - Investment and Politics  Solutions</span> </aside>
  <!-- end sandwich-menu -->
  <header class="header">
    <div class="topbar">
      <div class="container">
 
        <!-- end tagline -->
        <ul class="social-media">
          <li><a href="https://web.facebook.com/CaterAndMergerConsult/?_rdc=1&_rdr" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/caterandmerger?lang=en" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/cater-and-merger-consult-670363200/?originalSubdomain=ng" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/caterandmergerconsultltd/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <!-- end social-media -->
        <div class="phone"><img src="../static/images/icon-phone.png" alt="Image"> <span><b></b> +447488389428, 01733590363</span></div>
        <!-- end phone --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end topbar -->
    <nav class="navbar">
      <div class="container">
        <div  class="logo"> <a href="#"> <img   src="../static/images/newwlogo.png" alt="Image"> </a> </div>
        <!-- end logo -->
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="#">Corpration</a>
            <ul class="dropdown">
                <li><a href="/about">About Us</a></li>
                <li><a href="/mission">Mission - Vision</a></li>
                <li><a href="/team">Team Members</a></li>
                <li><a href="/releases">Press Releases</a></li>
                <li><a href="/clients">Clients</a></li>
                <li><a href="#">Career</a></li>
            </ul>
          </li>
          <li><a href="#">Services</a>
            <ul class="dropdown">
              <li><a href="#">Business</a>
                <ul class="dropdown">
                  <li><a href="/business/development">Business Development</a></li>
                  <li><a href="/partner/investment">Partners Investment</a>
                  
                  </li>
                 
                </ul>
              </li>
              <li><a href="/consultation">Consultation</a></li>
              <li><a href="/career">Career</a></li>
              <li><a href="/training">Training</a></li>
           
            </ul>
          </li>
          <li><a href="/showcase">Showcases</a></li>
          <li><a href="#">Blogs</a>
          <ul class="dropdown">
            <li><a href="/news/single">Latest Blog</a></li>


              <li><a href="/news/right">Publications</a></li>
              <li><a href="/news/noside">Videos</a></li>
              <li><a href="/gallery">Gallery</a></li>
             
            </ul>
            </li>
              <li><a href="/news/left">Events</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <!-- end nav-menu -->
        <ul class="language">
          <li><a href="#" class="active">EN</a></li>
          <li><a href="#">RU</a></li>
        </ul>
        <!-- end language -->
        <div class="search-btn"> <i class="fa fa-search"></i> </div>
        <!-- end search-btn -->
        <div class="sandwich-btn"> <span></span> <span></span> <span></span> </div>
        <!-- end sandwich-btn -->
        <div class="bottom-bar"></div>
        <!-- end bottom-bar --> 
      </div>
      <!-- end container --> 
    </nav>
    <!-- end navbar --> 
  </header>